body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

#wrapper {
  width: 1200px;
  max-width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#o-wrapper {
  background-color: #ececec;
}

/* Table Section */

#table_content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
}

#table_content h2 {
  font-size: 16px;
  color: #fff;
  background-color: #24505c;
  padding: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 0;
}

#table_content ul {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 20px 15px 10px;
  list-style-type: none;
  background-color: #eee;
  margin-top: 0;
}

#table_content ul li {
  position: relative;
  margin: 0;
  padding: 0 0 10px 1em;
  break-inside: avoid;
}

#table_content ul li a {
  text-decoration: none;
  color: #0096b2;
}

/* FAQ section */

#faq {
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
}

#heading_faq {
  border-bottom: 1px solid #ccc;
}

#heading_faq h2 {
  font-size: 16px;
  font-weight: 600;
  color: #24505c;
}

#faq p {
  margin: 0 0 10px;
  font-size: 14px;
  color: #555;
}

h3 {
  color: #24505c;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#img_row {
  display: flex;
}

@media (max-width: 800px) {
  #img_row img {
    width: 100%;
  }
  #col_img2 {
    display: none;
  }
  #col_img3 {
    display: none;
  }
}

@media (min-width: 801px) {
  #img_row img {
    width: 33.33%;
  }
}

/* Article Section */

.entire_article {
  margin: 10px 20px 10px;
}

.header h2 {
  font-size: 18px;
  color: #1797b1;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.article_text {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 32px;
}

/* Footer Section */

.footer_con {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #ececec;
}

.footerText {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875em;
  color: #555;
  text-align: center;
}

/* Button Section */

@media (max-width: 1619px) {
  .backBtn {
    display: none;
  }
}

@media (min-width: 1620px) {
  .backBtn {
    width: 80px;
    left: 80px;
    top: 80px;
    transition: all 0.4s ease;
    position: fixed;
    cursor: pointer;
  }

  .line {
    background-color: #333;
    border-radius: 10px;
    width: 100%;
    left: 0px;
    height: 2px;
    display: block;
    position: absolute;
    transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s,
      background-color 0.2s ease;
  }

  .tLine {
    top: 0px;
  }

  .mLine {
    top: 13px;
    opacity: 0;
  }

  .bLine {
    top: 26px;
  }

  .label {
    position: absolute;
    left: 0px;
    top: 3.75px;
    width: 100%;
    text-align: center;
    transition: all 0.4s ease;
    font-size: 1em;
    color: #555;
  }

  .backBtn:hover .label {
    left: 25px;
  }

  .backBtn:hover .line {
    left: -10px;
    height: 5px;
    background-color: #1797b1;
  }

  .backBtn:hover .tLine {
    width: 25px;
    transform: rotate(-45deg);
    left: -15px;
    top: 6px;
  }

  .backBtn:hover .mLine {
    opacity: 1;
    width: 30px;
  }

  .backBtn:hover .bLine {
    width: 25px;
    transform: rotate(45deg);
    left: -15px;
    top: 20px;
  }
}

/* Footer */

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(248, 249, 250);
}

.footerLi {
  font-size: 0.675em;
  color: #6c757d;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.footerLi li {
  margin-bottom: 10px;
}

.footerLi li a {
  color: #6c757d;
}

.footerText {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.675em;
  color: #6c757d;
  text-align: center;
}

.socialBoxIcons {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.socialBoxIcons a {
  color: #6c757d;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
